/target/
/.idea/
/SpringMVCApp1/.idea/
/SpringMVCApp1/src/main/java/ru/antisessa/mvctest/controllers/TestDAO.java
/SpringMVCApp1/src/main/test/TestDAO.java
/SpringMVCApp1/src/main/java/ru/antisessa/mvctest/dao/TestDAO.java
/SpringMVCApp1/src/main/resources/NamesWithNumber.txt
/SpringMVCApp1/src/main/java/ru/antisessa/mvctest/TestField/TestDAO.java
/SpringMVCApp1/src/main/java/ru/antisessa/mvctest/TestField/
/SpringMVCApp1/src/main/resources/MailWithNumbers.txt
